.vs/HRAnalysis/FileContentIndex/21a10f15-1717-43ee-8c11-f479ec3bca09.vsidx
.vs/HRAnalysis/FileContentIndex/330352a7-0b4d-4b3d-bc8f-4bc84bf55bee.vsidx
.vs/HRAnalysis/FileContentIndex/3f8c9069-105c-4b76-a436-d023aac865e2.vsidx
.vs/HRAnalysis/FileContentIndex/4aefd061-bc86-4954-a9d0-b1b44f20fea7.vsidx
.vs/HRAnalysis/FileContentIndex/97538ff0-e48e-4181-b492-41a68512a597.vsidx
.vs/HRAnalysis/FileContentIndex/bff62555-40ed-49ed-9df4-41bee70f551b.vsidx
.vs/HRAnalysis/v17/.futdcache.v2
.vs/HRAnalysis/v17/.suo
.vs/HRAnalysis/v17/DocumentLayout.backup.json
.vs/HRAnalysis/v17/DocumentLayout.json
HRAnalysis/bin/Debug/net6.0/HRAnalysis.dll
HRAnalysis/bin/Debug/net6.0/HRAnalysis.exe
HRAnalysis/bin/Debug/net6.0/HRAnalysis.pdb
HRAnalysis/Controllers/AttKesalahanController.cs
HRAnalysis/Models/ViewModel/AttKesalahanResultViewModel.cs
HRAnalysis/Models/ViewModel/AttKesalahanSearchViewModel.cs
HRAnalysis/obj/Debug/net6.0/apphost.exe
HRAnalysis/obj/Debug/net6.0/HRAnalysis.AssemblyInfo.cs
HRAnalysis/obj/Debug/net6.0/HRAnalysis.AssemblyInfoInputs.cache
HRAnalysis/obj/Debug/net6.0/HRAnalysis.csproj.FileListAbsolute.txt
HRAnalysis/obj/Debug/net6.0/HRAnalysis.dll
HRAnalysis/obj/Debug/net6.0/HRAnalysis.pdb
HRAnalysis/obj/Debug/net6.0/HRAnalysis.sourcelink.json
HRAnalysis/obj/Debug/net6.0/ref/HRAnalysis.dll
HRAnalysis/obj/Debug/net6.0/refint/HRAnalysis.dll
